/*
    Created on : Aug 3, 2023, 3:26:40 PM
    Author     : anup
*/
$border-radius: 4px;
$border-radius-lg: 4px;
@import "bootstrap";
body {
    background-color: lightgray;
}
.auth-flex-box{
    height: 100vh;
    .auth-logo{
        max-width: 80px;
    }
}
.form-wrap-scrape{
    #form{

        border:1px solid #004085;
        position: relative;
        padding: 0;
        margin-bottom: 10px;
        padding-right: 100px;
        >div{
            >label{
                display: none;
            }
            >input{
                width: 100%;
                line-height: 20px;
                padding: 8px;
                border: 0;
                box-shadow: none;
            }
        }
       
    }
     button{
            position: absolute;
            right: 0;
           top: 0;
           width: 100px;
           text-align: center;
           border:0px;
           border-left: 1px solid #004085;
            line-height: 20px;
                padding: 8px;
        }
}