{% extends 'base.html.twig' %}

{% block title %}Edit CompanyProfile{% endblock %}

{% block body %}
    <h1>Edit CompanyProfile</h1>

    {{ include('company_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_company_profile_index') }}">back to list</a>

    {{ include('company_profile/_delete_form.html.twig') }}
{% endblock %}
